<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button id="present-alert">Clique em mim para ver um alerta</ion-button>
  <ion-alert trigger="present-alert" header="Alert" subHeader="Esteja avisado" message="Isso é um alerta"
    ></ion-alert>

</ion-content>